<div class="row justify-content-center" cdkDropListGroup>
    <ng-container *ngFor="let column of sharedDataService.columns; let i = index">
        <div class="col-lg-3 col-md-auto col-sm-auto">
            <app-column [columnCards]="column.cards" [columnName]="column.name" [columnID]="column.id" [columnCode]="column.code" [beforeList]="i > 0 ? sharedDataService.columns[i-1].id : undefined" [afterList]="i !== sharedDataService.columns.length - 1 ? sharedDataService.columns[i+1].id : undefined"></app-column>
        </div>
    </ng-container>
</div>
<app-create-card [disabled]="existsNewCard()"></app-create-card>
